#box {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    bottom: 15%;
    left: -3%;
}
#child {
    font: 18px 'Roboto', sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20%;

}